header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  /* Media Query for devices withi coarse pointers and no hover functionality */
  
  /* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
  
    header video {
      display: none;
    }
  }

  .services .icon-box {
    text-align: center;
    padding: 70px 20px 80px 20px;
    transition: all ease-in-out 0.3s;
    background: #fff;
    box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);
  }
  
  .services .icon-box .icon {
    margin: 0 auto;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
    position: relative;
    background: #f5f5f5;
    border-radius: 50px;
  }
  
  .services .icon-box .icon i {
    font-size: 32px;
    transition: 0.5s;
    line-height: 1;
    position: relative;
  }
  
  .services .icon-box h4 {
    font-weight: 600;
    margin: 10px 0 15px 0;
    font-size: 22px;
  }
  
  .services .icon-box h4 a {
    color: #414c64;
    transition: ease-in-out 0.3s;
  }
  
  .services .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .services .icon-box:hover {
    border-color: #fff;
    box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
  }
  
  .services .iconbox-blue i {
    color: #47aeff;
  }
  
  .services .iconbox-blue:hover .icon {
    background: #47aeff;
  }
  
  .services .iconbox-blue:hover .icon i {
    color: #fff;
  }
  
  .services .iconbox-orange i {
    color: #ffa76e;
  }
  
  .services .iconbox-orange:hover .icon {
    background: #ffa76e;
  }
  
  .services .iconbox-orange:hover .icon i {
    color: #fff;
  }
  
  .services .iconbox-pink i {
    color: #e80368;
  }
  
  .services .iconbox-pink:hover .icon {
    background: #e80368;
  }
  
  .services .iconbox-pink:hover .icon i {
    color: #fff;
  }
  
  .services .iconbox-yellow i {
    color: #ffbb2c;
  }
  
  .services .iconbox-yellow:hover .icon {
    background: #ffbb2c;
  }
  
  .services .iconbox-yellow:hover .icon i {
    color: #fff;
  }
  
  .services .iconbox-red i {
    color: #ff5828;
  }
  
  .services .iconbox-red:hover .icon {
    background: #ff5828;
  }
  
  .services .iconbox-red:hover .icon i {
    color: #fff;
  }
  
  .services .iconbox-teal i {
    color: #11dbcf;
  }
  
  .services .iconbox-teal:hover .icon {
    background: #11dbcf;
  }
  
  .services .iconbox-teal:hover .icon i {
    color: #fff;
  }

  .card {
    margin: 1em auto;
  }

  .float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:20px;
	right:40px;
	background-color:#02e756;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:20px;
}